/* sidenav -> Navigation auf linker Seite für Veranstaltung erstellen, Einladungen & Freunde */

.sidenav {
    height:auto;
    width: 200px; 
    left: 0;
    position: fixed; /* Fixed Sidebar (fixiert trotz Scrollen */
    padding-bottom: 0;
    z-index: 1; /* bleibe oben */
}

.sidenav a {
    
    text-decoration: none;
    font-size: 20px;
    padding: 6px 8px 6px 16px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .main {
    margin-left: 200px; /* neben Sidenav (Dashboard)*/
  }
  
  .container-1 {
    margin-left: 200px; /* neben der Sidenav (Freunde, Veranstaltung & Einladungen) */
  }

  /* Formular zum Ertellen der Veranstaltung*/
  .Formevent{
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-right: 200px;
  }
  .datetime {
    display:flex;
    align-items: center;
  }
  .date {
    width: 50%
  }
  .time {
    width: 50%
  }

  /* Suchleiste auf Freunde-Seite */
  .Search {
      display:flex;
      align-items: center;
    }
  
  .Search form {
    width:50%;
    display:flex;
    align-items: center;
    margin-right: 200px;
  }
  
  .Search h1 {
    width: 50%;
  }
  
  /* Layout für Suchergebnisse*/
  .Friend {
    margin-left: 200px;
    border: 1px solid black ;
    border-radius: 5px;
    padding: 5px;
    margin-right: 200px;
    display:flex;
    align-items: center;

  }

  .Friend h3 {
    width: 70%;
  }

  .Friend button {
    width: 20%;
  }

  .Einladungen {
    margin-left: 200px;
  }

  
  
 
  