/* Navbar */




/* Jumbotron */
h1.display-3 {
    color:white;
}
p.display-3 {
    color:white;
    font-size: 2em;
}
.jumbotron {
  min-height:600px;
}

/* Hilfe Seite */
.FAQs {
  display: inline-block;
  margin: 20px;
}

.FAQs h2{
  text-align: center;
  text-decoration: underline;

}

.text h3 {

  font-size:25px;
  font-weight: bold;

 }
.text p {
  font-size: 20px;
}

.Kontakt {
  border: 1px;
  
}

