{% extends "dashboard.html" %}

{% block overview%}
<title> Grillparty - Freunde</title>
<div class="container-1">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert-info">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>

    {% endif %}
    {% endwith %}
    <div class="Search">
        <h1> Freunde hinzufügen</h1>

        <form method="POST" class="form">
            {{ form.hidden_tag() }}
            {{ form.user(class="form-control") }}
            <button class="btn btn-light" type="submit">Search</button>
        </form>

    </div>
    
    {% if suchergebnisse == 0 %}
    <p>Es gab keine Treffer für Ihre Suche. Probieren Sie es noch einmal mit einem anderen Suchbegriff.</p>
    {% else %}
    <div class = "Searchresults">
    {% for suchergebnis in suchergebnisse %}
    <div class="d-flex justify-content-between">
        <div class="d-flex">
        <h4>{{suchergebnis[1]}}</h4></div>
        <!--<h6>{{suchergebnis[0]}}</h6>-->
        
        <div class="d-flex">
            <input type="hidden" name="info" value="{{ suchergebnis[0] }}" />
        <form method="post">
            <button name="Hinzufügen" type="submit" value="{{ suchergebnis[0] }}" class="btn btn-light">Hinzufügen</button>
        </form>
        </div>
        </div>

        <hr>
    <br>

    {% endfor %}
</div>
    {% endif %}


</div>
{% endblock %}
