{% extends "dashboard.html" %}
{% block overview%}

<p>{{ party[1] }}</p>
<p>{{ party[2] }}</p>


{% for item in itemlist %}
<form>
        <a href="#">
            <h2>{{ itemlist[1] }}</h2>
            <input type="hidden" name="info" value="{{ parties[0] }}"/>
            <form action="/bearbeiten" method="post">
                <button name="Bearbeiten" type="submit" value="{{ parties[0] }}" >Bearbeiten</button>
            </form>
            
        </a>
        <span class="badge badge-primary">{{ party[3] }}</span>
        <hr>
        {{ form.submit() }}
    </form>
{% endfor %}

{% endblock %}