{% extends "dashboard.html" %}
{% block overview%}

<!--Beibehalten Navbars, Blocken der Übersicht -->

<title>Grillparty bearbeiten</title>

<!--Anzeigen von Veranstaltungsinformationen-->

<div class="container-1">
    <h1>{{ party[1] }}</h1>
    <h2>am {{ party[2] }} um {{ party[3] }}</h2>
    <br />
    <h4>Ort: {{party[4]}}</h4>
    <br />
    <br />

<!--Anzeigen der Itemlist, von wem mitgebracht wird, was noch verteilt werden muss -->

    <form method="POST">
        <div id="edit">

            <h5><u>Teilnehmer</u></h5>
            {%if guests != 0%}
            {% for guest in guests %}

            <div class="FriendRequest">
                <div class="Friends">

                    <p>
                        <li><b>{{ guest[3] }} </b> bringt <i>{{ guest[1] }} </i>mit.</li>
                    </p>
                    <hr>
                </div>

            </div>
            {% endfor %}
            {%else%}<!--Wenn noch keine Teilnehmer -->
            <i>Es sind noch keine Antworten vorhanden</i>
            {%endif%}
            {% if unbound_items != 0 %} <!--noch nicht zugeteilte Items -->

            <h5><u>Items, die noch nicht zugeteilt sind:</u></h5>

            {% for unbound_item in unbound_items %}
            <li>{{unbound_item[1]}}</li>
            {% endfor %}
            {% else %}

            <i>Alle Items verteilt</i>
            {% endif %}

        </div>
        <br />
        <a href='/dashboard' class="btn btn-light">Zum Dashboard</a>
    </form>
</div>
{% endblock %}