{% extends "main.html" %}

{% block navbar %}

{% if session['logged_in'] %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Grillparty</a></div>
        <div class="collapse navbar-collapse"></div>
        <ul class="nav navbar-nav navbar-right">
        <form action="/logout/" method="post">
            
            <button class="btn btn-light" type = "submit">Logout</button>
            
        </form>
                
            </ul>
        </ul></div>
        </nav>

<!-- Side navigation -->
<div class="sidenav">
    <a href="/newevent">Veranstaltung erstellen</a>
    <a href="/invitations">Einladungen</a>
    <a href="/friends">Freunde</a>
  </div>
  
  {% block overview %}
  <title> Grillparty - Dashboard</title>
  <!-- Page content -->
  <div class="main">
      <h2> Eigene Parties</h2>
      {% for party in own_parties %}
      <a href="#">
          <h2>{{ party[1] }}</h2>
          <p><td>{{ party[0] }}</td></p>
          <input type="hidden" name="info" value="{{ party[0] }}" />
          <form method="post">
              <button name="submit" type="submit" value="{{ party[0] }}">Bearbeiten</button>
              
          </form>

      </a>
      <span class="badge badge-primary">{{ party[1] }}</span>
      
      {% endfor %}
      <h2>Parties von Freunden</h2>
      {% for party in foreign_parties %}
      <a href="#">
          <h2>{{ party[1] }}</h2>
          <p><td>{{ party[0] }}</td></p>
          <input type="hidden" name="info" value="{{ party[0] }}" />
          <form action="/Anzeigen" method="post">
            
              <button name="Anzeigen" type="submit" value="{{ party[0] }}">Anzeigen</button>
          </form>

      </a>
      <span class="badge badge-primary">{{ party[1] }}</span>
      <hr>
      {% endfor %}

  </div>
</body>

{% endblock %}


{% else %}
<p>Loggen Sie sich bitte ein</p>


{% endif %}
{% endblock %}
