{% extends "main.html" %}

{% block navbar %}
<title> Grillparty - Dashboard</title>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Grillparty</a></div>
        <div class="collapse navbar-collapse"></div>
        <ul class="nav navbar-nav navbar-right">
            <a class="nav-link active" href="/">Logout</a>
            
                
            </ul>
        </ul></div>
        </nav>
<!-- Side navigation -->
<div class="sidenav">
    <a href="/newevent">Veranstaltung erstellen</a>
    <a href="#">Einladungen</a>
    <a href="/friends">Freunde</a>
  </div>
  
  {% block overview %}
  <!-- Page content -->
  <div class="main">
    <p> Übersicht der Veranstaltungen... 
        <br><br><br>
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>HEllogfdsgfsdgnfds
        fdsgfopsdgfsd <br>
    </p>
  </div>
</body>
{% endblock %}
{% endblock %}
