{% extends "main.html" %}

{% block navbar %}

{% if session['logged_in'] %}

<!-- New Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Grillparty</a>
    </div>
    <div class="collapse navbar-collapse"></div>
    <ul class="nav navbar-nav navbar-right">
        <form action="/logout/" method="post">
            <button class="btn btn-light" type="submit">Logout</button>
        </form>
    </ul>
</nav>

<!-- Side navigation -->
<div class="sidenav">
    <a href="/newevent">Veranstaltung erstellen</a>
    <a href="/invitations">Einladungen</a>
    <a href="/friends">Freunde</a>



</div>
{% block overview %}
<title> Grillparty - Dashboard</title>
<div class="main">
    <!-- Flashes -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert-info">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <h1> Eigene Veranstaltungen</h1>
    {% if own_parties == 0%}
    <p>Es sind noch keine Veranstaltungen vorhanden.</p>
    <p>Probieren Sie es doch unter <a href="/newevent">Veranstaltung erstellen</a> einmal aus!</p>
    {%else%}
    {% for party in own_parties %}

    <h3>{{ party[1] }}</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Datum</th>
                <th scope="col">Uhrzeit</th>
                <th scope="col">Ort</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ party[2] }}</td>
                <td>{{ party[3] }}</td>
                <td>{{ party[4] }}</td>
                <td class="align-middle">
                    <form method="post">
                        <button name="submit" class="btn btn-light" type="submit" value="{{ party[0] }}">Anzeigen</button>
                    </form>
            </tr>
        </tbody>
    </table>

    {% endfor %}
    {% endif %}

    {% if foreign_parties != 0 %}
    <h1>Parties von Freunden</h1>
    {% for party in foreign_parties %}
    <p>
        <h3>{{ party[1] }}</h3>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Uhrzeit</th>
                    <th scope="col">Ort</th>
                    <th scope="col">Gastgeber</th>
                    <th scope="col">Meine mitgebrachten Items</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ party[2] }}</td>
                    <td>{{ party[3] }}</td>
                    <td>{{ party[4] }}</td>
                    <td>{{ party[7] }}</td>
                    <td>{{ party[8] }}</td>

                </tr>
            </tbody>
        </table>
        <input type="hidden" name="info" value="{{ party[0] }}" />


    </p>
    <span class="badge badge-primary">{{ party[1] }}</span>
    <hr>

    {% endfor %}
    {% endif %}
</div>

{% endblock %}


{% else %}
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Grillparty</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Hilfe</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse"></div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Anmelden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registrate">Registrieren</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="Fehler">Loggen Sie sich bitte ein</h1>
</body>

{% endif %}
{% endblock %}