<!--Content-Blocking von Main-->

{% extends "main.html" %}
{% block content%}

<!--Datenschutz -->

<div class = container>
        <h1>Datenschutz</h1>

        <h2>Datenschutzerklärung für die Nutzung</h2>
        <p>Grillparty nutzt "Cookies". Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen.
        </p>
        <h3>Optionen</h3>
        <p>
                <li>
                        Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.
                </li>
                <li>
                        Sie können die Cookies nach Ihrer Sitzung auf unserer Webseite in den entsprechenden Browsereinstellungen ganz einfach löschen.
                        
                </li>
        </p>
        <h3>Allgemeine Hinweise</h3>
        <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie unsere Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können.</p>
        <h3>Wie erfassen wir Ihre Daten?</h3>
        <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Kontaktformular eingeben.
        Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website betreten.</p>
        <h3>Wofür nutzen wir Ihre Daten?</h3>
        <p>Die Daten werden erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten.</p>
        <h3>Welche Rechte haben Sie bezüglich Ihrer Daten?</h3>
        <p>Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder Löschung dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.</p>
</div>
{% endblock %}