{% extends "dashboard.html" %}

{% block overview%}
<div class=" container-1">
<title> Grillparty - Freunde</title>

<div class="test">
    <a href="/addfriend">Freunde hinzufügen</a>

<div class="FriendRequest">
    {% for friend in friend_requests_to_me %}
    <a href="#">
        <h2>{{ friend[0] }}</h2>
        <p><td>{{ friend[1] }}</td></p>
        <input type="hidden" name="info" value="{{ friend[1] }}" />
        <form action="/acceptinv/" method="post">
            <button name="Acceptinvitation" type="submit" value="{{ friend[1] }}">Annehmen</button>
        </form>
        <form action="/declineinv/" method="post">
            <button name="Declineinvitation" type="submit" value="{{ friend[1] }}">Ablehnen</button>
        </form>
    </a>
    <span class="badge badge-primary">{{ friend[1] }}</span>
    <hr>
    {% endfor %}
</div>

</div>
</div>



{% endblock %}