{% extends "main.html" %}

{% block content%}

<div class = "FAQs">
<h2>
    Hilfe - FAQs 
</h2>
<div class = "text">
<h3>
    Was ist der Zweck dieser Webseite?
</h3>
<p>
    Mit unserer Webseite können Sie Ihre nächste Grillparty ganz einfach verwalten.
    Sie können Ihre Veranstaltung erstellen, Freunde dazu einladen. Infos zum Veranstaltungsort,
    Datum und natürlich Uhrzeit hinterlegen. Außerdem können Sie ganz einfach Ihren
    Gästen mitteilen, was auf Ihre Party noch mitgebracht werden muss.
</p>
<h3>
    Was kostet der Spaß?
</h3>
<p> Unser Service ist komplett kostenfrei!</p>
<h3>
    Können mich mir fremde Personen einladen?
</h3>
<p> Nein, Sie können nur von Ihren Freunden eingeladen werden! Dafür muss der Gastgeber
    Ihnen vorher eine Freundschaftsanfrage schicken, die Sie annehmen.
</p>
<h3>
    Kann ich eine Einladung auch ablehnen?
</h3>
<p>
    Aber natürlich! Eine Einladung bedeutet nicht, dass Sie automatisch Gast sind.
    Sie können genau wie die Freundschaftsanfragen auch Ihre Veranstaltungseinladungen einfach 
    ablehnen.
</p>
<br><br><br>
<div class="Kontakt">
<p>
    Sollten Sie noch weitere Fragen haben, die unbeantwortet blieben oder einen 
    verbesserungsvorschlag einreichen wollen können Sie sich an folgende Adressen wenden:
</p>

<ul>
<li><a>adrian.maiworm@fh-bielefeld.de</a></li>
<li><a>natalie.engelmann@fh-bielefeld.de</a></li>
</ul>
</div>


</div>
{% endblock %}