<!--Block Veranstaltungsübersicht -->

{% extends "dashboard.html" %}
{% block overview%}

<!--Einbinden Jquery Skript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<title> Grillparty - Veranstaltung</title>

<!--Veranstaltungsformular -->

<form method="post">
    <div class="container-1">
        <div class="Formevent">
            <h1>Veranstaltung erstellen </h1>

                {{ form.hidden_tag() }}

                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control") }}
                <br>
                <div class="datetime">
                    <div class="date">
                        {{ form.date.label(class="form-label") }}
                        {{ form.date(class="form-control") }}
                        <br>
                    </div>
                    <div class="time">
                        {{ form.time.label(class="form-label") }}
                        {{ form.time(class="form-control") }}
                        <br>
                    </div>
                </div>
                {{ form.address.label(class="form-label") }}
                {{ form.address(class="form-control") }}
                <br>

<!-- Anzeige der Freunde zum Auswählen-->

                <p>Teilnehmer</p>

                {% for friend in friends %}

                <div class="form-check form-check-inline">

                    <input class="form-check-input" name="checkbox" type="checkbox" value="{{ friend[1] }}" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        {{ friend[0] }}
                    </label>

                    <input type="hidden" name="info" value="{{ friend[0] }}" />
                </div>
                {% endfor %}
        </div>
        
        <br>

<!-- dynamische Liste zum Hinzufügen der Items-->

        <h3>Was dürfen Ihre Gäste mitbringen?</h3>
            <div class="input-wrapper">
                <div>
                    <br />
                    <!--Inputfeld, mit Symbol zum Erweitern-->
                    <input type="text" name="field[]" value="" />
                    <a href="javascript:void(0);" class="add-input" title="Add input"> <img src="/static/plus.png" /></a>
                </div>
            </div>
            <br>
        <input type="submit" name="cmdsubmit" class="btn btn-light">
        <a href="/dashboard" class="btn btn-dark">Cancel</a>

            <!--Fehlermeldungen -->
        {% for field, errors in form.errors.items() %}
        <small class="form-text text-muted ">
            {{ ', '.join(errors) }}
        </small>
        {% endfor %}
    </div>
</form>

<!-- Jquery Skript für dynamisches Hinzufügen und Entfernen von Elementen aus der Zutatenliste-->
<!-- ActionListener, die Liste erweitern / reduzieren-->
<script>

    $(document).ready(function(){
        var max_input_fields = 30;
        var add_input = $('.add-input');
        var input_wrapper = $('.input-wrapper');
        var new_input = '<div><input type="text" name="field[]" value=""/><a href="javascript:void(0);" class="remove-input" title="Remove input"><img src="/static/minus.png"/></a></div>';
        var add_input_count = 1; 
        $(add_input).click(function(){
            if(add_input_count < max_input_fields){
                add_input_count++; 
                $(input_wrapper).append(new_input); 
            }
        });
        $(input_wrapper).on('click', '.remove-input', function(e){
            e.preventDefault();
            $(this).parent('div').remove();
            add_input_count--;
        });
    });
    </script>

{% endblock %}