{% extends "main.html" %}

{% block content%}
<title>Grillparty - Registrieren</title>
<div class = "container-par">

    <div class = "container-6">
        <h1>Grillparty</h1>
        <p>Eine einfache Möglichkeit um Grillpartys zu verwalten.</p>
    </div>

    <div class = "container-5">
        <h1>Registrieren </h1>


        <form method="POST">
         {{ form.hidden_tag() }} 
         {{ form.User.label(class="form-label") }}  
         {{ form.User(class="form-control") }}
         
     
         <br>
         {{ form.mailaddress.label(class="form-label") }}  
         {{ form.mailaddress(class="form-control") }}
         <br>
     
         {{ form.password.label(class="form-label") }}  
         {{ form.password(class="form-control") }}
         
         <br>
         {{ form.confirm.label(class="form-label") }}  
         {{ form.confirm(class="form-control") }}
         
         <br>
         {{ form.submit() }}
         
         <br><br>
         {% for field, errors in form.errors.items() %}
         <small class="form-text text-muted ">
             {{ ', '.join(errors) }}
         </small>
         {% endfor %}
  
</form>
</div>



</div>

{% endblock %}